* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #000;
}

body {
    font-family: 'El Messiri', sans-serif;
    color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(41, 152, 255, 0.6), rgba(86, 67, 250, 0.6)), url(img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 80vh;
}

.header__text h5 {
    font-size: 20px;
    font-weight: 100;
}

.header__text h1 {
    font-size: 85px;
    font-weight: 700;
}

.header__text p {
    font-size: 18px;
    font-weight: 300;
}

.btn {
    padding: 5px 15px;
    border: 1.5px solid #fff;
    border-radius: 25px;
    transition: all 0.2s;
}

.btn:hover {
    transform: translateY(-4px);
    background: #fff;
    color: #5643fa;
}